.layout990
  #carousel_rule.clearfix
    #carousel-example-generic.carousel.slide.left{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %a{:href => "http://www.baidu.com"}
            %img{:alt => "", :src => "/assets/invest/banner2.jpg"}/
        .item
          %a{:href => "http://www.baidu.com"}
            %img{:alt => "", :src => "/assets/invest/banner2.jpg"}/
        .item
          %a{:href => "http://www.baidu.com"}
            %img{:alt => "", :src => "/assets/invest/banner2.jpg"}/
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
        %i.fa.fa-chevron-left.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
        %i.fa.fa-chevron-right.glyphicon-chevron-right
    .rule.right
      .grab-head 抢钱规则
      .tab-content
        #rule_list.tab-pane.active
          %ul.list-unstyled.rule-count
            %li
              %a{:href => "#"} 奖励计算规则
            %li
              %a{:href => "#"} 抢钱流程说明
            %li
              %a{:href => "#"} 抢钱流程说明抢钱流程说明
          .text-center
            %img{:alt => "", :src => "/assets/invest/rule-icone.png"}/
          .rule-desc
            %span 质量保障
            %span 官方认证
            %span 安全交易
  .grab-step.clearfix
    .step 抢钱步骤：
    .step-list
      %ul
        %li.title 注册登录
        %li.img
          %img{:alt => "", :src => "/assets/invest/grab1.png"}/
        %li.desc.desc-fix 抢钱从这里开始
      %ul
        %li.title 选择抢钱产品
        %li.img
          %img{:alt => "", :src => "/assets/invest/grab2.png"}/
        %li.desc
          多类型优质竞拍产品
          %br 自由选择
      %ul
        %li.title 购买玩艺币
        %li.img
          %img{:alt => "", :src => "/assets/invest/grab3.png"}/
        %li.desc
          玩艺儿抢钱唯一方式
          %br 无风险、安全保障
      %ul
        %li.title 兑换产品持有权
        %li.img
          %img{:alt => "", :src => "/assets/invest/grab4.png"}/
        %li.desc
          兑换越多,分红越多
          %br 同时可获取奖金池参与资格
      %ul
        %li.title 获取产品升值奖励
        %li.img
          %img{:alt => "", :src => "/assets/invest/grab5.png"}/
        %li.desc
          竞拍交易结束即享奖励
          %br 返还购买时支付的玩艺币
  .grab-tabs-main
    %h2.tabs-head 热门艺术家作品推荐
    %ul.clearfix.grab-tabs
      %li.active
        %img{:alt => "", :src => "/assets/invest/grab-head.png"}
          %br 王雄伟
      %li
        %img{:alt => "", :src => "/assets/invest/grab-head.png"}
          %br 王雄伟
      %li
        %img{:alt => "", :src => "/assets/invest/grab-head.png"}
          %br 王雄伟
      %li
        %img{:alt => "", :src => "/assets/invest/grab-head.png"}
          %br 王雄伟
    .tab-main
      .tab-main-con.clearfix
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
    .tab-main.g-hidden
      .tab-main-con.clearfix
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse2.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse1.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
    .tab-main.g-hidden
      .tab-main-con.clearfix
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse2.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse2.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse2.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse2.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
    .tab-main.g-hidden
      .tab-main-con.clearfix
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
        .grab-item
          .img-view
            %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
              %span.status 竞拍预展
              .price.clearfix
                竞拍低价：￥2000
                %a{:href => "#"} 我要抢钱>>
          .count
            已有
            %span.gray3> 15
            人参与
            %span.s-right
              已兑换
              %span.gray3 1960
              份
          .time
            %i.fa.fa-clock-o
            剩余时间：1天3小时56分
  .grab-for-sale.clearfix
    .grab-item-list
      .title.clearfix
        正在预展的抢钱产品
        %span 预展中兑换产品持有权，将额外赠送10%的份数
        %a.gray6{:href => "#"} 更多>>
      %table
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.preview 竞拍预展
              %li.font12.gray8
                竞拍底价:
                %span.gray3 ¥2000.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.preview 竞拍预展
              %li.font12.gray8
                竞拍底价:
                %span.gray3 ¥2000.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.preview 竞拍预展
              %li.font12.gray8
                竞拍底价:
                %span.gray3 ¥2000.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
    .user-status
      %h3 用户兑换动态
      %ul
        %li
          %p.name Joname
          %p
            %span.gray8 兑换了
            王雄伟：精雕新疆和田羊脂白玉山子雕摆件
            %span.gray8 作品持有权
          %p.time.gray8 5分钟前
        %li
          %p.name Joname
          %p
            %span.gray8 兑换了
            王雄伟：精雕新疆和田羊脂白玉山子雕摆件
            %span.gray8 作品持有权
          %p.time.gray8 5分钟前
        %li
          %p.name Joname
          %p
            %span.gray8 兑换了
            王雄伟：精雕新疆和田羊脂白玉山子雕摆件
            %span.gray8 作品持有权
          %p.time.gray8 5分钟前
        %li
          %p.name Joname
          %p
            %span.gray8 兑换了
            王雄伟：精雕新疆和田羊脂白玉山子雕摆件
            %span.gray8 作品持有权
          %p.time.gray8 5分钟前
        %li
          %p.name Joname
          %p
            %span.gray8 兑换了
            王雄伟：精雕新疆和田羊脂白玉山子雕摆件
            %span.gray8 作品持有权
          %p.time.gray8 5分钟前
  .grab-for-sale.clearfix
    .grab-item-list
      .title.clearfix
        正在竞拍中的抢钱产品
        %a.gray6{:href => "#"} 更多>>
      %table
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.onsale 正在竞拍
              %li.font12.gray8
                竞拍底价:
                %span.gray3 ¥2000.00
                | 当前价：
                %span.orange ￥2500.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.onsale 正在竞拍
              %li.font12.gray8
                竞拍底价:
                = succeed "|" do
                  %span.gray3 ¥2000.00
                当前价：
                %span.orange ￥2500.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
        %tr
          %td.img
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/invest/money-demo.png"}/
          %td.price
            %ul
              %li.name
                %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山子雕摆件
                %span.onsale 正在竞拍
              %li.font12.gray8
                竞拍底价:
                %span.gray3 ¥2000.00
                | 当前价：
                %span.orange ￥2500.00
              %li.font12.gray8
                每人可兑换份数:
                = succeed "\u{4efd}" do
                  %span.gray3 1000
                |   每份单价：
                %span.gray3 20
                玩艺币
              %li.time
                %i.fa.fa-clock-o.gray8
                剩余时间：1天21小时45分
          %td.buy
            %ul
              %li
                已有
                %span.gray3 15
                人参与
              %li
                已兑换
                %span.gray3 1980
                分
              %li.buy-btn
                %button.btn.btn-primary 我要抢钱
    .champion
      .title 本周奖励冠军
      .champion-item.clearfix
        .champion-img
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/invest/grab-head.png"}/
          %br
            %a.blackish-green{:href => "#"} 周杰伦
        .champion-info
          %p
            抢钱投入：
            %span.orange> 32,200
            个玩艺币
          %p
            收获奖励：
            %span.orange> 32,200
            个玩艺币
          %p
            共参与：
            %span.orange> 12
            个作品
      .champion-item.clearfix
        .champion-img
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/invest/grab-head.png"}/
          %br
            %a.blackish-green{:href => "#"} 周杰伦
        .champion-info
          %p
            抢钱投入：
            %span.orange> 32,200
            个玩艺币
          %p
            收获奖励：
            %span.orange> 32,200
            个玩艺币
          %p
            共参与：
            %span.orange> 12
            个作品
      .champion-item.clearfix
        .champion-img
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/invest/grab-head.png"}/
          %br
            %a.blackish-green{:href => "#"} 周杰伦
        .champion-info
          %p
            抢钱投入：
            %span.orange> 32,200
            个玩艺币
          %p
            收获奖励：
            %span.orange> 32,200
            个玩艺币
          %p
            共参与：
            %span.orange> 12
            个作品
      .champion-item.clearfix
        .champion-img
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/invest/grab-head.png"}/
          %br
            %a.blackish-green{:href => "#"} 周杰伦
        .champion-info
          %p
            抢钱投入：
            %span.orange> 32,200
            个玩艺币
          %p
            收获奖励：
            %span.orange> 32,200
            个玩艺币
          %p
            共参与：
            %span.orange> 12
            个作品
      .champion-item.clearfix
        .champion-img
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/invest/grab-head.png"}/
          %br
            %a.blackish-green{:href => "#"} 周杰伦
        .champion-info
          %p
            抢钱投入：
            %span.orange> 32,200
            个玩艺币
          %p
            收获奖励：
            %span.orange> 32,200
            个玩艺币
          %p
            共参与：
            %span.orange> 12
            个作品
  .grab-finish
    .title.clearfix
      已结束的抢钱产品
      %a.gray8{:href => "#"} 更多>>
    .tab-main-con.clearfix
      .grab-item
        .img-view
          %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
        .name
          %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山...
        .integral.font12.gray8
          共兑换：
          %span.gray3> 2500
          份
        .integral.font12.gray8
          单份奖励：
          %span.gray3> 5
          玩艺币
        .finish-time
          结束时间：2014-01-05
      .grab-item
        .img-view
          %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
        .name
          %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山...
        .integral.font12.gray8
          共兑换：
          %span.gray3> 2500
          份
        .integral.font12.gray8
          单份奖励：
          %span.gray3> 5
          玩艺币
        .finish-time
          结束时间：2014-01-05
      .grab-item
        .img-view
          %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
        .name
          %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山...
        .integral.font12.gray8
          共兑换：
          %span.gray3> 2500
          份
        .integral.font12.gray8
          单份奖励：
          %span.gray3> 5
          玩艺币
        .finish-time
          结束时间：2014-01-05
      .grab-item
        .img-view
          %img{:alt => "", :src => "/assets/invest/horse3.jpg"}
        .name
          %a.gray3{:href => "#"} 王雄伟：精雕新疆和田羊脂白玉山...
        .integral.font12.gray8
          共兑换：
          %span.gray3> 2500
          份
        .integral.font12.gray8
          单份奖励：
          %span.gray3> 5
          玩艺币
        .finish-time
          结束时间：2014-01-05