.banner
  = image_tag asset_url('wx/banner.jpg'), class: 'w100'
.main
  .friend
    %p
      他们为你砍价了，共为你减价
      %span.red 304
      元
    .list
      %span
        = image_tag asset_url('wx/head.jpg')
        = succeed "\u{82e5}\u{76f8}\u{4f9d}" do
          %br/
      %span
        = image_tag asset_url('wx/head.jpg')
        = succeed "\u{82e5}\u{76f8}\u{4f9d}" do
          %br/
      %span
        = image_tag asset_url('wx/head.jpg')
        = succeed "\u{82e5}\u{76f8}\u{4f9d}" do
          %br/
      %span
        = image_tag asset_url('wx/head.jpg')
        = succeed "\u{82e5}\u{76f8}\u{4f9d}" do
          %br/
      %span
        = image_tag asset_url('wx/head.jpg')
        = succeed "\u{82e5}\u{76f8}\u{4f9d}" do
          %br/