%section.panel.panel-default
  %header.panel-heading
    %span.label.bg-danger.pull-right
      = page_entries_info collection
    发布会

  - if collection.any?
    %table.table.table-striped.m-b-none.text-sm
      %thead
        %tr
          %th= Event.human_attribute_name(:subject)
          %th= Event.human_attribute_name(:description)
          %th= Event.human_attribute_name(:start_at)
          %th= Event.human_attribute_name(:end_at)
          %th 操作
          %th
      %tbody
        - collection.each do |resource|
          %tr
            %td= resource.subject
            %td= resource.description
            %td= resource.start_at.to_date
            %td= resource.end_at.to_date
            %td 
              .btn-group
                %button.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.fa.fa-pencil
                %ul.dropdown-menu
                  %li
                    = link_to edit_resource_path(resource) do
                      %i.fa.fa-pencil 
                      编辑
                  %li
                    = link_to resource_path(resource), method: 'delete', data: { confirm: '确认删除吗?' } do 
                      %i.fa.fa-trash-o 
                      删除
    .panel-footer.clearfix
      = paginate collection
  - else
    .panel-body
      %p 暂时还没有牌品数据，请上传。

