.headspace
.container.cf
  %h3.cf.site.hr
    %span.fl 登录
    %span.fr
      还没有账号？
      = link_to '立即注册', sign_up_path(type: :email)
  .login-form.fl
    = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal devise-form signin-form', autocomplete: :off } do |f|

      %p.callout-danger= alert || notice
      = f.input :login, wrapper: :sns, autofocus: true
      = f.input :password, wrapper: :sns

      .form-group.remember
        %label.control-label
        .controls
          = f.input :remember_me, as: :boolean,
                                  wrapper: false,
                                  label: false,
                                  inline_label: true
          .col-sm-10.forget-pwd
            = link_to '忘记密码？', new_user_password_path

      .form-group.form-actions
        %label.control-label
        .controls
          = f.button :submit, '登录', class: 'btn btn-primary button-w100'

  %ul.login-open.fr
    %li 使用合作账号登录
    %li
      %a.icon.icon-qq{:href => "#"} QQ
    %li
      %a.icon.icon-weibo{:href => "#"} 微博
    %li
      %a.icon.icon-douban{:href => "#"} 豆瓣