= simple_form_for resource, url: url, html: { class: 'form-horizontal gallery-form' } do |f|

  = f.input :name, wrapper: :sns
  = f.input :content, wrapper: :sns, input_html: { rows: 5 }
  = f.input :tag_list, as: :string,
                       wrapper: :sns,
                       input_html: { data: { role: 'tagsinput' } }


  .form-group
    %label.control-label
    .controls
      = f.button :submit, '发布廊', class: 'btn btn-primary'


- content_for :js do
  :coffee
    $ ->
      $('input[name=tag_list]').blur () ->
        $('#gallery_tag_list').valid()