%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  = 1
%Articles
  %item
    %Title
      = raw "<![CDATA[每日一砍]]>"
    %Description
      = raw "<![CDATA[欢迎来到每日一砍，每天中午12点准时开始]]>"
    %PicUrl
      = raw "<![CDATA[#{asset_url('sns/logo.png')}]]>"
