%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  = 1
%Articles
  %item
    %Title
      = raw "<![CDATA[欢迎关注玩艺儿网]]>"
    %Description
      = raw "<![CDATA[欢迎关注玩艺儿网]]>"
    %PicUrl
      = raw "<![CDATA[#{asset_url('sns/logo.png')}]]>"
    %Url
      = raw "<![CDATA[]]>"
