.auction-title.clearfix
  专场竞拍预展
  .auction-more.right
    %span.orange= Auction.pending.count
    场正在进行
    = link_to '更多>>', weitou_auctions_path(filter_by_state: :pending), class: 'gray8'
.auction-presell.clearfix
  - @pending_auctions.each do |auction|
    .col-sm-6.col-md-4
      .presell-item
        .cover
          = link_to weitou_auction_path(auction) do
            = image_tag auction.pending_cover_url
            %span 开始时间：#{ auction.start_at.strftime('%m.%d/%H:%M') }
        %p.name.text-center= link_to auction.title, weitou_auction_path(auction), class: 'gray3'