.recharge-warpper
  .layout990.recharge.clearfix

    = render 'user_nav'

    .recharge-con.right
    
      = render 'users/account_statements/meta'

      %table.get-cash-table
        %tr
          %th 时间
          %th 收入（元）
          %th 支出（元）
          %th 类型
          %th 备注
        - if @account_statements.empty?
          %tr 
            %td.text-center{colspan: 5}
              暂无收支明细, 赶紧来
              %strong= link_to '充值', new_recharge_path, class: 'blackish-green'
              吧
        - else
          - @account_statements.each do |resource|
            %tr
              %td= l resource.created_at
              - if resource.income?
                %td
                  %span.blackish-green= resource.amount
                %td --
                %td 充值
                %td 
              - else
                %td --
                %td
                  %span.orange -#{resource.amount}
                %td= resource.meta_text
                %td= resource.description
      .panel-footer.clearfix
        = paginate @account_statements
