- resource.photos.new if resource.new_record?
.row
  .col-md-8
    %section.panel.panel-default
      %header.panel-heading 画报

      .panel-body
        = simple_nested_form_for resource, url: url, html: { class: 'form-horizontal row-border', multipart: true } do |f|

          = f.input :title, autofocus: true
          
          .form-group
            %label.col-md-2.control-label
              = Episode.human_attribute_name(:is_featured)
            .col-md-10      
              = f.collection_radio_buttons :is_featured, [['是', true], ['否', false]], :last, :first do |b|
                .radio
                  = b.label(class: 'radio-custom') do
                    = b.radio_button
                    %i.fa.fa-circle-o
                    = b.text
          = f.input :body, as: :text, input_html: { class: 'reditor' }

          %fieldset#photos_wrap
            %legend
              %strong 画报图片
            = f.simple_fields_for :photos
            = f.link_to_add :photos, class: 'btn btn-sm btn-default' do
              %i.fa.fa-plus.text 
              %span.text 添加图片

          .form-actions
            = f.button :submit, class: 'btn btn-info btn-large pull-right'

  .col-md-4
    %section.panel.panel-default
      %header.panel-heading.font-bold
        %i.fa.fa-lightbulb-o
        帮助中心
      .panel-body
        %p 这里添加一些帮助性的文字


- content_for :js do
  :coffee
    $ ->
      $('#new_episode').validate();
      
      $(document).on 'click', '.btn-add-photo', (e) ->
        e.preventDefault()
        $('input#topic_photo').trigger 'click'

      redactor = new RedactorInitializer
      redactor.init_by_default()


      new MainUploader
        url: '#{admin_global_images_path}.js'
        button: 'btn-pupload'

      # init uploader for nested form
      $(document).on 'nested:fieldAdded', (event) ->
        
        field = event.field
        
        dateField = field.find('.date')
        count = field.parents('#new_product').find('.fields').size()
        field.find('.btn.btn-default').attr 'id', 'btn-pupload' + count

        new MainUploader
          url: '#{admin_global_images_path}.js'
          button: 'btn-pupload' + count
