%section.panel.panel-default
  %header.panel-heading
    %span.label.bg-danger.pull-right
      = page_entries_info collection
    用户管理

  - if collection.any?
    %table.table.table-striped.m-b-none.text-sm
      %thead
        %tr
          %th= User.human_attribute_name(:id)
          %th= User.human_attribute_name(:email)
          %th= User.human_attribute_name(:username)
          %th= User.human_attribute_name(:mobile_phone)
          %th= User.human_attribute_name(:region)
          %th= User.human_attribute_name(:gender)
          %th= User.human_attribute_name(:sign_in_count)
          %th
      %tbody
        - collection.each do |resource|
          %tr
            %td= resource.id
            %td= resource.email
            %td= resource.username
            %td= resource.mobile_phone
            %td= resource.city.try(:name)
            %td= resource.gender_text
            %td= resource.sign_in_count
            %td 
              .btn-group
                %button.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.fa.fa-pencil
                %ul.dropdown-menu
                  %li
                    = link_to admin_user_path(resource) do
                      %i.fa.fa-pencil 
                      详细             
                  %li
                    = link_to account_statements_admin_user_path(resource) do
                      %i.fa.fa-pencil 
                      收支明细
                  %li
                    = link_to edit_resource_path(resource) do
                      %i.fa.fa-pencil 
                      编辑                  
                  %li
                    = link_to resource_path(resource), method: 'delete', data: { confirm: '确认删除吗?' } do 
                      %i.fa.fa-trash-o 
                      删除
    .panel-footer.clearfix
      = paginate collection
  - else
    .panel-body
      %p 暂时还没有牌品数据，请上传。



