%header#top.navbar-static-top.bs-docs-nav{:role => "banner"}
  #topbar
    .layout990
      .navbar-header
        %a.navbar-brand{:href => "/"}
      %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
        %ul.nav.navbar-nav
          = main_nav :home do
            = link_to '首页', sns_root_path, class: 'gray3'

          = main_nav :auc do
            = link_to '竞拍', weitou_root_path, class: 'gray3'

          = main_nav :money do
            = link_to '抢钱', invest_root_path, class: 'gray3'

          = main_nav :galleries do
            = link_to '创意廊', sns_galleries_path, class: 'gray3'

          = main_nav :events do
            = link_to '发布会', sns_events_path, class: 'gray3'

          = main_nav :groups do
            = link_to '玩艺小组', sns_groups_path, class: 'gray3'

        %ul.nav.navbar-nav.navbar-right
          -# %li
          -#   %a.shopping-cart.gray3{:href => "#"}
          -#     %i.fa.fa-shopping-cart>
          -#     购物车(
          -#     %span.orange> 0
          -#     )
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle.gray3{ :'data-toggle' => 'dropdown', href: '#' }
                = current_user.username
                %b.caret
              %ul.dropdown-menu{:role => "menu"}

                %li
                  = link_to my_profile_path do
                    %i.fa.fa-user
                    我的玩艺儿
                %li
                  = link_to conversations_path do
                    %i.fa.fa-comments-o
                    我的消息

                %li
                  = link_to edit_user_registration_path do
                    %i.fa.fa-gear
                    账户设置

                %li.divider
                %li
                  = link_to weitou_my_active_products_path do
                    %i.fa.fa-clock-o
                    我的竞拍

                -# = sec_nav :orders do
                -#   = link_to orders_path do
                -#     %i.fa.fa-credit-card
                -#     我的订单

                -# = sec_nav :cart do
                -#   = link_to '#' do
                -#     %i.fa.fa-shopping-cart
                -#     我的购物车

                = sec_nav :account_statements do
                  = link_to account_statements_path do
                    %i.fa.fa-money
                    账户余额

                = sec_nav :right do
                  = link_to my_rights_path do
                    %i.fa.fa-exchange
                    维权申请

                %li.divider
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.fa.fa-sign-out
                    退出
            %li
              %a.gray3{ href: conversations_path }
                消息
                %span.badge.fix-badge 5
          - else
            %li= link_to '登录', new_user_session_path, class: 'gray3'
            %li= link_to '用户注册', sign_up_path(type: :email), class: 'gray3'
          
  - unless @hide_subheader
    .search-wrapper
      .layout990
        #search_bar.clearfix
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle.gray3{"data-toggle" => "dropdown", :href => "#"}
                竞拍
                %b.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %ul.list-unstyled.left.search-menu-left
                    %li= link_to '预展', weitou_auctions_path(filter_by_state: :pending), class: 'gray3'
                    %li= link_to '竞拍中', weitou_auctions_path(filter_by_state: :active ), class: 'gray3'
                    %li= link_to '已成交', weitou_auctions_path(filter_by_state: :closed), class: 'gray3'
                  %ul.list-unstyled.right.search-menu-right
                    %li
                      %a{:href => "#"} 陶瓷
                      %a{:href => "#"} 油画
                      %a{:href => "#"} 雕塑
                      %a{:href => "#"} 书法
                      %a{:href => "#"} 艺术家饰
                    %li
                      %a{:href => "#"} 油画
                      %a{:href => "#"} 雕塑
                      %a{:href => "#"} 书法
                      %a{:href => "#"} 艺术家饰
                    %li
                      %a{:href => "#"} 雕塑
                      %a{:href => "#"} 书法
                      %a{:href => "#"} 艺术家饰
            
            = sec_nav :zero do
              = link_to '0元拍', weitou_products_path(filter_by_type: :zero), class: 'gray3'

            = sec_nav :charity do
              = link_to '义拍义卖', weitou_products_path(filter_by_type: :charity), class: 'gray3'

          = simple_form_for 'search', url: weitou_products_path, html: { class: 'navbar-form navbar-right', method: :get, role: 'form' } do |f|

            .form-group.form-search
              %input.form-control{:placeholder => "搜你喜欢...", :type => "text", name: 'q'}
                %button.btn.btn-search.fa.fa-search.form-btn{:type => "submit"}
                %a.btn.btn-primary.auction-btn{ href: weitou_my_active_products_path }
                  %i.fa.fa-heart
                  我的竞拍