!!!
%html.app{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title 玩艺后台管理系统
    %meta{content: 'Revolution培训管理系统', name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag :admin

    /[if lt IE 9]
      = javascript_include_tag 'html5shiv'
      = javascript_include_tag 'respond.min'
      = javascript_include_tag 'admin/ie/excanvas'

    = csrf_meta_tag
    = yield :css

  %body{ id: params[:controller].gsub('/', '_'), class: params[:action] }
    - if devise_controller? && !admin_user_signed_in?
      = yield
    - else
      %section.vbox
        = render 'admin/shared/header'
        %section
          %section.hbox.stretch
            = render 'admin/shared/sidebar'
            %section#content
              %section.vbox
                %section.scrollable.padder
                  = render_cell :admin, :crumbs, main_nav: @main_nav, sec_nav: @sec_nav
                  = yield
              %a.hide.nav-off-screen-block{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen", href: "#"}
            %aside#notes.bg-light.lter.b-l.aside-md.hide
              .wrapper Notification
              
    = javascript_include_tag :admin
    = yield :js